body {
  background-color: rgb(173, 166, 166);
}

.form-row {
  padding: 10px 0px;
  display: flex;
}

.form-row label {
  padding-right: 10px;
}

.form-row input {
  flex: 1;
}

.column-layout {
  max-width: 1300px;
  background-color: #fff;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.main-column {
  flex: 3;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}

.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0px auto;
  display: flex;
  /* align-items: flex-start; if you want to have the items size to their content */
  /* align-items: flex-end; if you want to have the items size to their content */
  /* align-items: center; if you want to have the items size to their content */
  align-items: stretch; /* default behavior. Will stretch content to box */
  justify-content: space-between;
}

.call-out {
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-basis: 30%;
}

.call-out:nth-child(1) {
  background-color: #c0dbe2;
}
.call-out:nth-child(2) {
  background-color: #cdf1c3;
}
.call-out:nth-child(3) {
  background-color: #ccb9da;
}
